     body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: silver;
            width: 850px;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }

        .container {
            width: 500px;
            max-width: 100%;
        }

        a {
            color: mediumaquamarine;
        }

        a:visited {
            color: slategray;
        }

        a:hover {
            color: whitesmoke;
        }

        em {
            color: mediumaquamarine;
        }

        strong {
            color: mediumaquamarine; 
        }

        p {
            word-wrap: inherit;
            text-indent: 2.0em;   
        }
        div.navigation {
                border: 0.5px;
                border-style: solid;
                border-color: mediumaquamarine;
                padding: 1px;
                text-align: center;
                text-shadow: .5px .5px mediumaquamarine;
                width: 850px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        div.contact {
                 text-align: center;
                 display: block;
                 padding: 1px;
                 text-align: center;
                 text-shadow: .35px .35px mediumaquamarine;
                 width: 850px;
                 max-width: 100%;
                 margin-left: auto;
                 margin-right: auto;
        }
        h1 {
                text-align: center;
            }
     img {
         margin-right: 5px;
         float: left;
         display: block;
     }

     .footer {
         text-align: center;
     }
