
body {
    font-family: 'Alegreya', serif;    color: silver;
    display: grid;
    grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
    grid-template-rows: min-content min-content auto min-content;
  
}

#header {
    grid-area: header;

}

#content {
    grid-area: content;
    margin: 10px 10px;

}

#navigation {
    border: 0.5px;
    border-style: solid;
    border-color: mediumaquamarine;
    text-shadow: .5px .5px mediumaquamarine;
    position: sticky;
    top: 0;
    grid-area: navigation;
}

#navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navigation > ul > li {
    display: inline;
    position: relative;
}

#navigation a + ul {
    left: 0;
    position: absolute;
    display: none;
    list-style: none;
    padding: 10px;
    background-color: white;
    width: 80px;
}

#navigation a + ul:hover,
#navigation a:hover + ul {
    display: flex;
    flex-direction: column;
}

#footer {
    text-align: center;
    grid-area: footer;
    }

h1 {
    text-align: center;
    }

img {
    margin-right: 5px;
    float: left;
    display: block;
    }

a {
    color: mediumaquamarine;
    }
  
a:visited {
    color: slategray;
    }
        
a:hover {
    color: whitesmoke;
    }
    
em {
    color: mediumaquamarine;
    }
    
strong {
    color: mediumaquamarine; 
    }


form {
    

}
    
input[type=text],
input[type=email],
input[type=number] {
    width: 100px;
    display: block;
    margin: 5px 5px;
}

.fab {
    color: mediumaquamarine;
}

.far {
    color: mediumaquamarine;
}

@media screen and (min-width: 400px) {
    body {
      grid-template-areas:
      "navigation header"
      "navigation content"
      "navigation footer";
      grid-template-columns: 20% auto;
      grid-template-rows: min-content auto min-content;
    }

    #navigation > ul{
        flex-direction: column;
    }
}